$primary: #ff9900; 
.slicContent {
    position: relative;
    &_top {
        position: relative;
    }
    &_img {
        position: relative;
        width: 100%;
        &::after {
            content: "";
            @include absolute;
            width: 100%;
            height: 300px;
            background: rgb($primary, 0.9); 
        }
    }
}
